<div id="app">

    <div id="sidebar">
      <div id="sidebar_content">
        <%= form_for @band, method: :put, url: admin_update_band_path, :html => { id: 'band_admin_form' } do |f| %>
          <ul id="menu_sections">

            <li id="menu-logo">
              <button class="menu_section_label" type="button">Logo</button>
              <div class="menu_section">
                <div class="menu_group">
                  <label class="subsection_label">Text &amp; Font</label>
                  <input type="text" id="text_and_font" name="band[name]" value="<%= @band.name %>" />
                </div>
                <!-- COMING SOON!

                <div class="menu_group">
                  <label class="subsection_label">Upload</label>
                  <div class="btn_field upload_field">
                    <span>Upload Logo</span>
                    <i class="icon-plus"></i>
                    <input type="file" class="upload" id="logo_upload" name="logo_upload" />
                  </div>
                  <button>Delete Logo</button>
                </div> -->
              </div>
            </li>
            <li id="menu-social">
              <button class="menu_section_label" type="button">Social</button>
              <div class="menu_section">
                <div class="menu_group">
                  <% @social_field_options.each do |field_option| %>
                    <%= render 'social_field', :field_option => field_option %>
                  <% end %>
               </div>
             </div>
            </li>

            <li id="menu-music">
              <button class="menu_section_label" type="button">Music</button>
              <div class="menu_section">
                <div class="menu_group">
                  <%= render 'soundcloud_track_field', :field_option => @soundcloud_track_field_option %>
                </div>

                <% @music_field_options.each do |field_option| %>
                  <div class="menu_group">
                    <%= render 'music_field', :field_option => field_option %>
                  </div>
                <% end %>
              </div>
            </li>

            <li id="menu-style">
              <button class="menu_section_label" type="button">Style</button>
              <div class="menu_section">
                <div class="menu_group">
                  <%= render 'color_picker_field', :field_option => @main_color_field_option %>
                  <%= render 'font_field', :field_option => @main_color_font_option %>
                </div>

                <div class="menu_group">
                  <%= render 'color_picker_field', :field_option => @text_color_field_option %>
                  <%= render 'font_field', :field_option => @text_color_font_option %>
                </div>

                <div class="menu_group">
                  <%= render 'color_picker_field', :field_option => @music_background_color_field_option %>
                </div>

                <div class="menu_group">
                  <%= render 'background_image_field', :field_option => @background_image_field_option %>
                </div>

                <div class="menu_group">
                  <%= render 'color_picker_field', :field_option => @background_overlay_color_field_option %>
                  <%= render 'opacity_slider_field', :field_option => @background_overlay_opacity_field_option %>
                </div>

              </div>
            </li>
          </ul>
        <% end %>

      </div><!-- end #sidebar_content -->

      <div id="save_panel">
        <ul>
          <li><button id="formSubmit" class="save" onclick="$( '#band_admin_form' ).submit();" disabled>Save</button></li>
        </ul>
      </div>

    </div><!-- end #sidebar -->

    <div id="topbar">

      <ul class="top_links">
        <li><a href="#" class="button">Support</a></li>
        <li><%= link_to "Log Out", destroy_user_session_path, class: "button" %></li>
      </ul>

      <a id="preview_url" href="<%= band_url(@band.identifier) %>" target="_blank"><%= band_url(@band.identifier) %></a>
    </div>

    <div id="website_frame">
      <iframe width="100%" height="100%" scrolling="yes" frameborder="no" src="<%= band_url(@band.identifier) %>"></iframe>
    </div>

  </div>