<div id="app">

    <div id="sidebar">
      <div id="sidebar_content">
        <%= form_for @band, method: :put, url: admin_update_band_path, :html => { id: 'band_admin_form' } do |f| %>
          <ul id="menu_sections">

            <li id="menu-logo">
              <button class="menu_section_label" type="button">Logo</button>
              <div class="menu_section">
                <div class="menu_group">
                  <label class="subsection_label">Text &amp; Font</label>
                  <input type="text" id="text_and_font" name="text_and_font" value="<%= @band.name %>" />
                </div>
                <div class="menu_group">
                  <label class="subsection_label">Upload</label>
                  <div class="btn_field upload_field">
                    <span>Upload Logo</span>
                    <i class="icon-plus"></i>
                    <input type="file" class="upload" id="logo_upload" name="logo_upload" />
                  </div>
                  <button>Delete Logo</button>
                </div>
              </div>
            </li>
            <li id="menu-social">
              <button class="menu_section_label" type="button">Social</button>
              <div class="menu_section">
                <div class="menu_group">
                  <% @social_field_options.each do |field_option| %>
                    <%= render 'social_field', :field_option => field_option %>
                  <% end %>
               </div>
             </div>
            </li>

            <li id="menu-music">
              <button class="menu_section_label" type="button">Music</button>
              <div class="menu_section">
                <div class="menu_group">
                  <div class="music_selector">
                    <ul class="tabs clearfix">
                      <li><button type="button" data-list-id="tracks">Tracks</button></li>
                      <li><button type="button" data-list-id="sets">Sets</button></li>
                    </ul>
                    <div id="list-tracks" class="music_list" data-list-id="tracks">
                      <ul>
                        <!-- loop through results -->
                        <li><button><span>Track Name</span><i class="icon-plus"></i></button></li>
                        <li><button><span>Track Name</span><i class="icon-plus"></i></button></li>
                        <li><button><span>Track Name</span><i class="icon-plus"></i></button></li>
                        <li><button><span>Track Name</span><i class="icon-plus"></i></button></li>
                        <li class="active"><button><span>Track Name</span><i class="icon-minus"></i></button></li>
                        <li><button><span>Track Name</span><i class="icon-plus"></i></button></li>
                        <li><button><span>Track Name</span><i class="icon-plus"></i></button></li>
                        <li><button><span>Track Name</span><i class="icon-plus"></i></button></li>
                        <li><button><span>Track Name</span><i class="icon-plus"></i></button></li>
                        <li><button><span>Track Name</span><i class="icon-plus"></i></button></li>
                        <li><button><span>Track Name</span><i class="icon-plus"></i></button></li>
                        <li><button><span>Track Name</span><i class="icon-plus"></i></button></li>
                      </ul>
                    </div>
                    <div id="list-sets" class="music_list" data-list-id="sets">
                      <ul>
                        <!-- loop through results -->
                        <li><button><span>Set Name</span><i class="icon-plus"></i></button></li>
                        <li><button><span>Set Name</span><i class="icon-plus"></i></button></li>
                        <li><button><span>Set Name</span><i class="icon-plus"></i></button></li>
                        <li><button><span>Set Name</span><i class="icon-plus"></i></button></li>
                        <li><button><span>Set Name</span><i class="icon-plus"></i></button></li>
                        <li><button><span>Set Name</span><i class="icon-plus"></i></button></li>
                        <li><button><span>Set Name</span><i class="icon-plus"></i></button></li>
                        <li><button><span>Set Name</span><i class="icon-plus"></i></button></li>
                        <li><button><span>Set Name</span><i class="icon-plus"></i></button></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="menu_group">
                  <label class="subsection_label">Music Type</label>
                  <input type="text" placeholder="">
                </div>
                <div class="menu_group">
                  <label class="subsection_label">Music Title</label>
                  <input type="text" placeholder="">
                </div>
                <div class="menu_group">
                  <label class="subsection_label">Description</label>
                  <textarea></textarea>
                </div>
                <div class="menu_group">
                  <label class="subsection_label">Button Text</label>
                  <input type="text" placeholder="">
                </div>
                <div class="menu_group">
                  <label class="subsection_label">Button URL</label>
                  <input type="text" placeholder="">
                </div>
              </div>
            </li>

            <li id="menu-style">
              <button class="menu_section_label" type="button">Style</button>
              <div class="menu_section">
                <div class="menu_group">
                  <%= render 'color_picker_field', :field_option => @main_color_field_option %>
                  <%= render 'font_field', :field_option => @main_color_font_option %>
                </div>

                <div class="menu_group">
                  <%= render 'color_picker_field', :field_option => @text_color_field_option %>
                  <%= render 'font_field', :field_option => @text_color_font_option %>
                </div>

                <div class="menu_group">
                  <%= render 'color_picker_field', :field_option => @music_background_color_field_option %>
                </div>

                <div class="menu_group">
                  <%= render 'background_image_field', :field_option => @background_image_field_option %>
                </div>

                <div class="menu_group">
                  <%= render 'color_picker_field', :field_option => @background_overlay_color_field_option %>
                  <%= render 'opacity_slider_field', :field_option => @background_overlay_opacity_field_option %>

                </div>

              </div>
            </li>
          </ul>
        <% end %>

      </div><!-- end #sidebar_content -->

      <div id="user_panel">
        <a href="#" class="left-align button">Support</a>
        <%= link_to "Log Out", destroy_user_session_path, class: "button right-align" %>
      </div>

    </div><!-- end #sidebar -->

    <div id="topbar">
      <a id="preview_url" href="<%= band_url(@band.identifier) %>" target="_blank"><%= band_url(@band.identifier) %></a>
      <ul id="save_dialog">
        <li><button class="cancel">Cancel</button></li>
        <li><button class="save" onclick="$( '#band_admin_form' ).submit();">Save</button></li>
      </ul>
    </div>

    <div id="website_frame">
      <iframe width="100%" height="100%" scrolling="yes" frameborder="no" src="<%= band_url(@band.identifier) %>"></iframe>
    </div>

  </div>