<!DOCTYPE html>
<html class="darkUI">
<head>
  <title>Apollo</title>
  <%= favicon_link_tag "favicon01.png", type: 'image/png' %>
  <%= stylesheet_link_tag "admin/admin", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script type="text/javascript">
  var sound_cloud_access_token = '<%= current_user.access_token %>';
</script>
<%= javascript_include_tag "application" %>

</body>
</html>
